<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Icon Id="Mocassin.ico" SourceFile="$(var.Mocassin.UI.GUI.ProjectDir)\mocassin.ico"/>
    <ComponentGroup Id="GuiBinComponents"
                    Directory="GuiBinariesDir"
                    Source="$(var.Mocassin.UI.GUI.TargetDir)">
      <Component Id="$(var.Mocassin.UI.GUI.TargetFileName)"
                 Win64="yes"
                 Guid="8fdac3cf-b935-41f6-926c-1764348ddbc1">
        <File Id="$(var.Mocassin.UI.GUI.TargetFileName)"
              Name="$(var.Mocassin.UI.GUI.TargetFileName)"
              KeyPath="yes">
          <Shortcut Id="GuiStartmenuShortcut"
                    Directory="ProgramMenuDir"
                    Name="Mocassin"
                    WorkingDirectory="GuiBinariesDir"
                    Icon="Mocassin.ico"
                    Advertise="yes" />
          <Shortcut Id="GuiDesktopShortcut"
                    Directory="DesktopFolder"
                    Name="Mocassin"
                    WorkingDirectory="GuiBinariesDir"
                    Icon="Mocassin.ico"
                    Advertise="yes" />
        </File>
        <ProgId Id="Mocassin.mocprjfile" Description="Mocassin UI Project File" Icon="Mocassin.ico" Advertise="yes">
            <Extension Id="mocprj" ContentType="application/mocprj">
              <Verb Id="open" Command="Open" Argument='"%1"'/>
            </Extension>
        </ProgId>
      </Component>
      <Component Id="GuiAppConfig"
                 Win64="yes"
                 Guid="98629508-1f50-4b91-b0de-0a1945166c86">
        <File Id="MocassinGuiCONFIG"
              Name="$(var.Mocassin.UI.GUI.TargetFileName).config"
              KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>