### Configuration file for MocassinBuildScript.py

### Choose the cmake build type (Debug/Release)
buildType="Release"

### Choose if the build should be done as a clean rebuild (True/False)
cleanBuild="True"

### Choose the source directory (Directory that contains the CMakeLists.txt)
sourceDirectory=""

### Choose the directory used for building
buildDirectory="$HOME/Mocassin/.tmpbuild"

### Choose the deploy directory for the build program
deployDirectory="$HOME/Mocassin/deploy"

### Chose the compiler (Intel=icc, GNU=gcc)
compilerName="icc"