### Configuration file for MocassinBuildScript.py

### Choose the cmake build type (Debug/Release)
buildType="Release"

### Choose if the build should be done as a clean rebuild (True/False)
cleanBuild="False"

### Choose the source directory (Directory that contains the CMakeLists.txt)
sourceDirectory=""

### Choose the directory used for building
buildDirectory="$HOME/Mocassin/.tmpbuild"

### Choose the deploy directory for the build program using ICC
iccDeployDirectory="$HOME/Mocassin/deploy_1.1.X.X/bin_icc"

### Choose the deploy directory for the build program using GCC
gccDeployDirectory="$HOME/Mocassin/deploy_1.1.X.X/bin_gcc"

### Choose the compiler (Intel=icc, GNU=gcc, Both=all)
compilerName="all"

### Choose additional build file copy patterns
copyPatterns="Mocassin.*"