### Configuration file for MocassinBuildScript.py

### Choose the cmake build type (Debug/Release)
buildType="Release"

### Choose if the build should be done as a clean rebuild (True/False)
cleanBuild="False"

### Choose the source directory (Directory that contains the CMakeLists.txt)
sourceDirectory=""

### Choose the directory used for building
buildDirectory="$HOME/Mocassin/.tmpbuild"

### Choose the deploy directory for the build program
deployDirectory="$HOME/Mocassin/deploy"

### Choose the compiler (Intel=icc, GNU=gcc)
compilerName="icc"

### Choose additional build file copy patterns
copyPatterns="Mocassin.*"