1 VERSIONINFO
FILEVERSION     1,1,0,0
PRODUCTVERSION  1,1,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Juelich Research Center (Germany), RWTH Aachen University (Germany)"
      VALUE "FileDescription", "Mocassin Simulator (MinGW64, GCC 9)"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "Mocassin.Simulator"
      VALUE "LegalCopyright", "Sebastian Eisele 2018-2020"
      VALUE "OriginalFilename", "Mocassin.Simulator.exe"
      VALUE "ProductName", "Mocassin"
      VALUE "ProductVersion", "1.1"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END