<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder" Name="PFiles">
        <Directory Id="INSTALLDIR" Name="Mocassin">
          <Directory Id="GuiAppDir" Name="Model Builder">
            <Directory Id="GuiBinariesDir" Name="bin">
              <Directory Id="GuiDataDir" Name="data" />
              <Directory Id="GuiRuntimesDir" Name="runtimes">
                <Directory Id="GuiRuntimesWin64Dir" Name="win-x64">
                  <Directory Id="GuiRuntimesWin64NativeDir" Name="native" />
                </Directory>
              </Directory>
            </Directory>
          </Directory>
          <Directory Id="SolverAppDir" Name="Solver">
            <Directory Id="SolverBinDir" Name="bin" />
          </Directory>
          <Directory Id="ManualDir" Name="Manual" />
        </Directory>
      </Directory>

      <Directory Id="AppDataFolder" Name="AppData">
        <Directory Id="MocassinAppDataDir" Name="Mocassin">
          <Component Id="MocassinAppDataDir" Guid="8c43cf69-d3bf-425c-9a20-8456f3f94c5a">
            <RemoveFolder Id="MocassinAppDataDir" On="uninstall"/>
            <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Name='AppDataDir' Value='[MocassinAppDataDir]' KeyPath='yes'/>
          </Component>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="Mocassin">
          <Component Id="ProgramMenuDir" Guid="4e0715d3-49e0-4345-ada3-9253fc46effe">
            <RemoveFolder Id="ProgramMenuDir" On="uninstall"/>
            <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Name='ProgramMenuDir' Value='[ProgramMenuDir]' KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>

      <Directory Id="PersonalFolder" Name="Documents">
        <Directory Id="MocassinDocumentsDir" Name="Mocassin">
          <Component Id="MocassinDocumentsDir" Guid="74834072-8ac3-41b0-bc2b-7041d62e55d7">
            <RemoveFolder Id="MocassinDocumentsDir" On="uninstall"/>
            <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Name='DocumentsDir' Value='[MocassinDocumentsDir]' KeyPath='yes' /> 
          </Component>
        </Directory>
      </Directory>

      <Directory Id="DesktopFolder" Name="Desktop"/>
    </Directory>

  </Fragment>
</Wix>
